body {
    margin:0px;
}

.container {
    position:relative;
    width:1366px;
    margin:auto;
}

.title {
    padding:10px;
    border-bottom:2px solid;
    background:rgb(250,250,250);
}

.title h1 {
    margin:0px;
    font-family:sans-serif;
    font-weight:normal;
    text-shadow:0px 0px 1px rgba(0,0,0,0.4);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.quickadd {
    padding:10px;
    border-bottom:1px solid;
}

#QuickAdd, #QuickAddOrg {
    padding:8px;
    background:rgb(250,250,250);
    border:1px dashed;
    font-style: oblique;
}

.quickaddForm, .quickaddorgForm {
    height:440px;
    padding:10px;
    background:rgb(240,240,240);
    overflow:hidden;
    display:none;
}

.quickaddForm label,input,textarea, .quickaddorgForm label,input,textarea {
  float:none;
  display: inline-block;
  vertical-align: middle;
}

.quickaddForm label, .quickaddorgForm label {
    width:300px;
    height:10px;
    font-family:sans-serif;
    font-size:12px;
    padding:10px;
    font-weight:bold;
}

.quickaddForm input,textarea, .quickaddorgForm input,textarea  {
    border:1px dashed;
    width:70%;
    padding:10px;
    font-weight:bold;
    border-radius:5px;
    box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
}

#Add,#Update,#Cancel,#AddOrg,#UpdateOrg,#CancelOrg {
    padding:10px;
    margin:20px;
    position:relative;
    border:1px dashed;
    border-radius:5px;
    font-weight:bold;
}

.entry {
    background:rgb(230,230,230);
    width:auto;
    height:40px;
    border-bottom: 1px solid white;
}


.entry .name, .entry .orgname {
    width:150px;
    float:left;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    white-space: nowrap;
}

.entry .org {
    width:150px;
    float:left;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    white-space: nowrap;
}

.entry .email, .entry .orgemail {
    width:150px;
    float:left;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    white-space: nowrap;
}


.entry .phone, .entry .orgphone {
    width:100px;
    float:left;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    white-space: nowrap;
}

.entry .address, .entry .orgaddress {
    width:180px;
    float:left;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    white-space: nowrap;
}

.entry .postcode, .entry .orgpostcode {
    width:60px;
    float:left;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    white-space: nowrap;
}

.entry .del, .entry .orgdel, .entry .orgupdate, .entry .update, .entry .orgview {
    width:30px;
    float:right;
    padding:11px;
    padding-left: 20px;
    padding-right: 20px;
}

.entry p {
    margin:0px;
    font-family:sans-serif;
    font-size:12px;
    text-shadow:0px 0px 1px rgba(0,0,0,0.4);
}
.entry .orgview a {
  font-family:sans-serif;
  color:#FFF;
  font-size:12px;
  padding:5px;
  background:rgb(100,100,200);
  border-radius:8px;
  text-decoration:none;
}
.entry .update a, .entry .orgupdate a {
  font-family:sans-serif;
  color:#FFF;
  font-size:12px;
  padding:5px;
  background:rgb(100,200,100);
  border-radius:8px;
  text-decoration:none;
}
.entry .del a, .entry .orgdel a {
    font-family:sans-serif;
    color:#FFF;
    font-size:12px;
    padding:5px;
    background:rgb(255,100,100);
    border-radius:8px;
    text-decoration:none;
}
